@{
   Layout = "_Layout";
}
@* 
@using PierresTreats.ViewModels
@model Register.ViewModels

@using (Html.BeginForm("Register", "Account", FormMethod.Post))
{
  @Html.LabelFor(user => user.Email)
  @Html.TextBoxFor(user => user.Email)
  
  @Html.LabelFor(user => user.Password)
  @Html.PasswordFor(user => user.Password)
  
  @Html.LabelFor(user => user.ConfirmPassword)
  @Html.PasswordFor(user => user.ConformPassword)
  
  <input type="submit" value="Register" />
}

<p>Already have an account @Html.ActionLink("Log in", "Login")</p> *@