@{
  Layout = "_Layout";
}
@using System.Security.Principal
@model PierresTreats.Models.Flavor
<br>
@if (User.Identity.IsAuthenticated)
{
  <button class="btn btn-default">@Html.ActionLink("Edit Flavor", "Edit", new { id = Model.FlavorId })</button>
  <button class="btn btn-default">@Html.ActionLink("Delete Flavor", "Delete", new { id = Model.FlavorId })</button>
  <button class="btn btn-default">@Html.ActionLink("Add Treat to this Flavor", "AddTreat", new { id = Model.FlavorId })</button>
}
@if(@Model.JoinEntities.Count == 0)
{
  <p>This Flavor has not been added to any treats yet.</p>
}
else
{
  <h2>Treats that have @Model.Name</h2>
  <table class="table">
    <tr>
      <th>Name</th>
      <th>Treat Name</th>
      <th>Total Calories</th>
    </tr>
    @foreach(var join in Model.JoinEntities)
    {
      <tr>
        <td>@join.FlavorTreatName</td>
        <td>@Html.ActionLink(@join.Treat.Name, "Details", "Treats", new { id = join.Treat.TreatId})</td>
        <td>@join.Calories</td>
        <td>
          @if (User.Identity.IsAuthenticated)
          {
            @using (Html.BeginForm("DeleteTreat", "Flavors"))
            {
              @Html.Hidden("joinId", @join.FlavorTreatId)
              <button type="submit" class="btn btn-danger">Remove Treat Combo</button>
            }
          }
        </td>
      </tr>
    }
  </table>
  
}
<h2>Flavor info:</h2>
<hr />
<h3>Description:</h3>@Model.Description
<br>
<h3>Calories:</h3>@Model.Calories